<h1>@Model["client"].GetName()</h1>
<h4>Client of @Model["stylist"].GetName()</h4>

<form action="/stylist/@Model["stylist"].GetId()/client/@Model["client"].GetId()/edited" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="new-client-name">Edit Client Name:</label>
  <input type="text" name="new-client-name">
  <button type="submit">Submit</button>
</form>

<a href="/stylist/@Model["stylist"].GetId()">Back to Stylist Info</a>
<a href="/">Back to Index</a>
