<h1>Stylists</h1>
<ul>
  @foreach(var stylist in @Model)
  {
    <li><a href="/stylist/@stylist.GetId()">@stylist.GetName()</a></li>
  }
</ul>

<h1>Manage System</h1>
<a href="/stylist/form">Add A New Stylsit</a>
