@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Stylists</h2>
      </div>
        <div class="panel-body full-height">
          <ul>
            @foreach(var stylist in @Model)
            {
              <li><a href="/stylist/@stylist.GetId()">@stylist.GetName()</a></li>
            }
          </ul>
        </div>
      </div>
    </div>
    @Html.Partial("manage.cshtml")
</div>
