<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Manage</h2>
    </div>
    <div class="panel-body full-height">
      <a href="/stylist/form">Add A New Stylist</a>
    </div>
  </div>
</div>
