@{
  Layout="Shared/_Layout.cshtml";
}
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Add a new Stylist</h2>
      </div>
      <div class="panel-body full-height">
        <form action="/stylist/new" method="post" class="form-group">
          <label for="stylist-name">Name:</label>
          <input type="text" name="stylist-name" class="form-control">
          <label for="stylist-age">Age:</label>
          <input type="number" name="stylist-age" class="form-control">
          <label for="stylist-bio">Bio:</label>
          <textarea type="text" name="stylist-bio" rows="5", cols="50" class="form-control"></textarea>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
    </div>
    @Html.Partial("manage.cshtml")
  </div>
  <a href="/">Back To Index</a>
