<form action="/stylist/new" method="post">
  <label for="stylist-name">Name:</label>
  <input type="text" name="stylist-name">
  <label for="stylist-age">Age:</label>
  <input type="number" name="stylist-age">
  <label for="stylist-bio">Bio:</label>
  <textarea type="text" name="stylist-bio" rows="5", cols="50"></textarea>
  <button type="submit">Submit</button>
</form>
<a href="/">Back To Index</a>
