body {
  background-color: #29424F;
}

#interface{
  margin-top: 20vh;
  height: 60vh;
}

.full-height {
  height:40vh;
}

.btn {
  margin-top: 2%;
}

ul {
  overflow-y: scroll;
  height: 100%;
}

#client-list {
  height: 50%;
}

li, p, a {
  font-size: 20px;
}
